.Demo_playerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 125px;
}


.Demo__container .HeaderBox_container::before {
    display: none;
}