.Button {
    text-decoration: none;
    border: 1px solid #606C67;
    padding: 8px 20px;
    color: #606C67;
    font-size: 18px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    box-shadow: 0 5px 1.5rem rgba(98, 98, 98, 0.2);
    background: #606C67,
}

.Button:visited {
    color: #606C67;

}

.Button:hover {
    cursor: pointer;
    background: #606C67;
    color: #FBFAFA;
    /* border-color: #FBFAFA; */
}

.ContactForm_button {
    background: #606C67;
    color: white;
}

.Button:disabled {
    background: white;
    color: lightgrey;
    border: 1px solid lightgrey;
}


