.HeaderBox_container {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    padding: 20px;
    position: relative;
}

.HeaderBox_container h1 {
    font-size: 6em;
    color: #FBFAFA;
    text-transform: uppercase;
    text-align: center;
}

.HeaderBox_container p {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;
    font-size: 2em;
    text-align: center;
    color: #FBFAFA;
    line-height: 1.2em;
}