.Contact_container-holder {
    padding: 100px;
}

.Contact_container-holder > p {
    margin: 0px auto;
    line-height: 1.2em;
    padding: 0px 0px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding-bottom: 50px;
    color: #606C67;
}

@media(max-width: 700px) {
    .Contact_container > p {
        text-align: justify;
    }

    .Contact_container-holder {
        padding: 20px;
    }

    .Contact_container-holder p {
        padding: 50px 0px;
    }
}