.Contact_container-holder {
    padding: 100px;
}

.Contact_container-holder > p {
    margin: 0px auto;
    line-height: 1.2em;
    padding: 0px 0px;
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 50px;
}

@media(max-width: 600px) {
    .Contact_container > p {
        text-align: justify;
    }
}