.HomeAbout_container {
    width: 100%;
    background: #606C67;
    box-sizing: border-box;
    position: relative;
    padding: 25vh 100px;
}

.HomeAbout_info {
    text-align: center;
}

.HomeAbout_info p {
    line-height: 1.2em;
    font-size: 3vw;
    color: #FBFAFA;
}

@media(max-width: 1200px) {
    .HomeAbout_inner_container {
        flex-wrap: wrap;
    }

    .HomeAbout_info_left {
        flex-basis: 100%;
        min-height: 400px;

    }

    .HomeAbout_info_right {
        flex-basis: 100%;
    }
}

@media(max-width: 600px) {
    .HomeAbout_container {
        padding: 0%;
    }

    .HomeAbout_info_right {
        background: #606C67;
        color: #FBFAFA;
    }
}


