.ContactForm_container {
    background: white;
    font-family: 'Lato', sans-serif;
    color: black;
}

.ContactForm_container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.ContactForm_container input {
    background: rgba(164, 173, 164, .4);
    margin: 10px 10px;
    padding: 10px;
    font-size: 16px;
    flex-basis: 100%;
    border: none;
    box-sizing: border-box;
    /* box-shadow: 0 2px 2rem rgba(85, 85, 85, 0.2); */
    border-radius: 2px;
}

.ContactForm_container input:focus {
    outline: none;
    border: none;
}

.ContactForm_container input::placeholder {
    font-size: 16px;
    color: rgb(102, 102, 102);
}


.ContactForm_container textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 10px;
    height: 200px;
    background: rgba(164, 173, 164, .4);
    font-size: 16px;
    color: rgb(102, 102, 102);
    border: none;
    outline: none;
    border: none;
    /* box-shadow: 0 2px 2rem rgba(85, 85, 85, 0.2); */
    font-family: inherit;
    color: inherit;
    border-radius: 2px;

}

.ContactForm_container textarea::placeholder {
    font-size: 17px;
    color: rgb(102, 102, 102);
}

.ContactForm_container input:nth-child(1) {
    flex:1 1 auto;
}

.ContactForm_container input:nth-child(2) {
    flex:1 1 auto;
}

@media(max-width: 700px) {
    .ContactForm_container {
        padding: 0px;
    }

    .ContactForm_container input {
        max-width: 100%;
        width: 100%;
    }

    .ContactForm_container input {
        height: 50px;
    }

    .ContactForm_container textarea {
        height: 300px;
    }
}