.HomeDemoContainer_container {
    text-align: center;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    padding: 75px 0px;
    padding-bottom: 85px;
}

.HomeDemoContainer_container h1 {
    text-align: center;
    color: #606C67;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .5rem;
    font-size: 5rem;
}


.HomeDemoContainer_player_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-bottom: 75px; */
    padding: 50px 0px;

}