.Header_container {
    width: 100%;
    min-height: 75vh;
    box-sizing: border-box;
    position: relative;
    font-size: 18px;
    box-shadow: 0px 10px 10px -10px darkgrey;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    z-index: 2;
}

.Header_container .Header_name {
    text-align: center;
    color: #606C67;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 3vw;
    margin-top: 10px;
    letter-spacing: .2rem;
    position: relative;
    animation: moveInRight 1s ease-in;

}

.HeaderBox_container h1 {
    font-family: 'Oswald', sans-serif;

}

.Header_container img {
    max-width: 100%;
    display: block;
    height: auto;
    transition: ease-in 250ms;
    position: relative;
    animation: moveInLeft 1s ease-in;
}

@keyframes moveInLeft {
    0% { 
        right: 200px;
        opacity: 0;
    }

    100% {
        right: 0px;
        opacity: 1;
    }
}


@keyframes moveInRight {
    0% { 
        left: 200px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

.mobile {
    display: none;
}

@media(max-width: 600px) {


    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .Header_container {
        font-family: 'Oswald', sans-serif;
    }

    .Header_container img {
        display: none;
    }

    .Header_container {
        /* background-image: url('../assets/bigfoot_edited.jpg');s */
        min-height: 50vh;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Header_title {
        font-size: 5em;
        text-align: center;
        letter-spacing: 1px;
        color: #606C67;
        font-weight: 900;
    }

    .Header_title > p {
        font-size: .4em;
        margin-top: 8px;
        font-weight: 100;
        color: #606C67;
        font-family: inherit;
    }


    .Header_container .Header_text {
        color: #FBFAFA;
        font-size: 1.5em;
        text-align: center;
        margin-top: 50px;
        color: #606C67;
    }
}