.AboutMe_container {
    display: flex;
    padding: 100px;
}

.AboutMe_text p {
    margin: 25px 25px;
    font-size: 1.2rem;
    color: #606C67;
    line-height: 1.2em;
}


@media (max-width: 800px) {
    .AboutMe_container {
        padding: 5%;
    }
}

@media (max-width: 700px) {
    .AboutMe_container {
        padding: 20px;
    }

    .AboutMe_container p {
        text-align: justify;
    }
}