.AboutMe_container {
    display: flex;
    padding: 100px;
}

.AboutMe_text p {
    margin: 25px 25px;
    font-size: 18px;
    color: #606C67;
    line-height: 1.2em;
}

@media (max-width: 1200px) {
    .AboutMe_container {
        flex-wrap: wrap;
    }

    .AboutMe_text {
        flex-basis: 100%;
    }
}

@media (max-width: 600px) {
    .AboutMe_container {
        padding: 0%;
    }
}