.Footer {
    width: 100%;
    background: #FBFAFA;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.Footer a {
    margin: 20px;
    text-decoration: none;
    color: #606C67 ;
    letter-spacing: .2rem;
}